.footer {
  width: 100%;
  height: 25dvh;
  background-color: var(--main-color);
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  overflow: hidden;
}

.footer-logo-container {
  align-self: flex-start;
  height: 10dvh;
}

.footer-logo {
  object-fit: cover;
  height: 100%;
}

.contact,
.newsletter {
  width: 30%;
}
