.footerAdmin {
    width: 100%;
    height: 25dvh;
    background-color: var(--dark-color);
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    overflow: hidden;
  }
  
  .logo-container {
    align-self: flex-start;
    height: 10dvh;
  }
  
  .logo-footer {
    object-fit: cover;
    height: 100%;
  }
  
  .contact,
  .newsletter {
    width: 30%;
  }
  