/* adminIdentity.css */
.box-admin {
  margin: auto;
  display: flex;
  gap: 1em;
  width: 30dvw;
  height: 20dvh;
  padding-left: 1em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgb(194, 192, 192);
  z-index: 2;
  transform: translateY(-2em);
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  font-size: 1.2dvw;
}

.admin-profile-picture {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .box-admin {
    width: 90%; /* Ajuster la largeur pour les petits écrans */
    font-size: 16px; /* Ajuster la taille de la police pour les petits écrans */
    transform: translateY(0); /* Réinitialiser la translation */
    margin: 1em;
  }
}
