.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.contact-page h1 {
  text-align: center;
  margin-bottom: 0.5em;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 1em;
  color: #333;
}

.contact-info {
  padding: 1em;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
  color: #444;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group textarea {
  resize: vertical;
}

.contact-form button {
  background-color: var(--main-color);
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #55694d;
}

/* responsive */
