.adminConnect-form-container{
    width: 100%;
    height: 100%;
    color: white;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminConnect-form{
    background: var(--clear-color);
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
    height: 50%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    position: relative;
}

.adminConnect-form h2{
    font-size: 1.7em;
    font-weight: 300;
}

.title-card{
    justify-content: center;
}
.adminConnect-form h3{
    margin-top: 6%;
    font-size: 1.2em;
    font-weight: 300;
}

.adminConnect-form label{
    width: 100%;
    text-align: center;
}

.adminConnect-form #email,
.adminConnect-form #firstname,
.adminConnect-form #lastname,
.adminConnect-form #password-admin1,
.adminConnect-form #profile_picture{
    text-align: center;
    margin-top: 1em;
    width: 80%;
    height: 2.5em;
    border-radius: 12px; 
    border: none;
    padding: 0.5em;
    font-size: 1.2em;
}

.adminConnect-form #email:focus
.adminConnect-form #firstname:focus,
.adminConnect-form #lastname:focus,
.adminConnect-form #password-admin1:focus,
.adminConnect-form #profile_picture:focus
{
    outline: none;
}

.custom-file-input {
    position: relative;
    display: inline-block;
    margin-top: 1em;
    background-color: var(--dark-color);
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .custom-file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .custom-file-input span {
    font-size: 1.2em;
    font-weight: 700;
  }
  
  
.adminConnect-form input {
    cursor: pointer;
}
.adminConnect-form a{
    color: white;
    text-decoration: none;
    position: relative;
}

.adminConnect-form a:after{
    content:'';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color:var(--dark-color);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in;
}

.adminConnect-form a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.adminConnect-login{
    margin-top: 5%;
    padding: 1em 1.5em;
    font-size: 1.2em;
    color: white;
    border: 2px solid var(--dark-color);
    border-radius: 10px;
    background-color: transparent;
    font-weight: 500;
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminConnect-login:hover{
    background-color: var(--dark-color);
    color: white;
    scale:1;
    transition:all 0.25s ease-in-out;

    .adminlogin-arrow-right{
        transform: translateX(1em);
        transition: all 0.25s ease-in;
    }
}

.adminlogin-arrow-right{
    width: 1.5em;
    height: 1.5em;
}

/* Styles pour la version mobile */

@media only screen and (max-width: 700px) {
    .adminConnect-form {
      width: 80%;
      height: auto;
    }
  
   .adminConnect-form h2{
      font-size: 1.4em;
    }
  
    .adminConnect-form h3 {
      font-size: 1em;
    }
  
    .adminConnect-form #email,
    .adminConnect-form #firstname,
    .adminConnect-form #lastname,
    .adminConnect-form #password-admin1,
    .adminConnect-form #profile_picture{
      width: 100%;
    }
  
    .login-submit-btn-admin {
      width: 70%;
    }

    .title-card{
        justify-content: center;
    }

    .label-input {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .label-input h3 {
        margin-top: 1em;
      }

      .adminConnect-login{
        width: 70%;
      }
  }
  