/* AdminDashboard.css */
.admin-dashboard-container {
  padding: 20px;
}

.adminconnect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.icones-admin {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.icones-admin-text {
  margin-left: 5px;
}

.tab-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-buttons button {
  flex: 1;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  color: #333;
  transition: background 0.3s ease-in-out;
}

.tab-buttons button:hover {
  background: #025dbf;
}

.tab-buttons .active-tab {
  background: #007bff;
  color: #fff;
}

.data-visualization-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.tab-content {
  max-width: 100%;
}

/* Media Query pour les appareils mobiles */
@media (max-width: 768px) {
  .tab-buttons {
    flex-direction: column;
    align-items: center;
  }

  .tab-buttons button {
    margin-bottom: 10px;
  }

  .data-visualization-container {
    max-width: 60%;
  }
}
