.admin-label-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  padding: 2em;
}

.admin-label-container h2 {
  margin-bottom: 1em;
  color: var(--mouse-color);
  font-size: 1.5em;
  font-weight: 500;
}

.admin-category {
  max-width: 60%;
  padding: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label-list {
  margin-bottom: 2em;
}

.label-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  height: 15vh;
  list-style: none;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 1em;
}
.admin-label-infos {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}

.admin-label-logo {
  height: 80%;
}

.update-btn {
  display: flex;
  flex-direction: column;
}

.label-item button {
  padding: 0.5em 2em;
  margin: 0.5em;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Query */
@media screen and (max-width: 768px) {
  .admin-label-container {
    margin: 2em;
    padding: 1em;
  }

  .admin-category {
    max-width: 100%;
  }

  .admin-label-container h2 {
    text-align: center;
  }

  .btn-modif {
    justify-content: center;
  }

  .label-list li {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .label-list li span {
    margin-bottom: 1em;
    font-size: small;
    justify-content: center;
  }

  .label-list li button {
    margin-bottom: 1em;
  }

  .add-label-form {
    flex-direction: column;
    justify-content: center;
  }

  .add-label-form input[type='text'],
  .select-category {
    margin-bottom: 1em;
    font-size: x-small;
    width: 100%;
  }
}
